In [209]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [210]:
dataset = pd.read_csv("/Users/user/Downloads/quikr_car.csv")
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [211]:
# sns.distplot(x=np.log(dataset["Price"]))
# plt.show()

In [212]:
dataset = dataset[dataset["Price"] != "Ask For Price"]

In [213]:
dataset["Price"] = dataset["Price"].str.replace(",","")

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/4077881590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Price"] = dataset["Price"].str.replace(",","")

In [214]:
dataset["Price"] = dataset["Price"].astype("int32")

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/3748953495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Price"] = dataset["Price"].astype("int32")

In [215]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 857 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        857 non-null    object
 1   company     857 non-null    object
 2   year        857 non-null    object
 3   Price       857 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 43.5+ KB

In [216]:
dataset["year"] = dataset["year"].str.extract(r'(\d{4})')

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/1607074016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["year"] = dataset["year"].str.extract(r'(\d{4})')

In [217]:
dataset["year"].fillna(dataset["year"].mode()[0], inplace=True)

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/4254689038.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["year"].fillna(dataset["year"].mode()[0], inplace=True)
/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/4254689038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["year"].fillna(dataset["year"].mode()[0], inplace=True)

In [218]:
dataset["year"] = dataset["year"].astype("int32")

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/1140682308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["year"] = dataset["year"].astype("int32")

In [219]:
dataset["year"].info()

<class 'pandas.core.series.Series'>
Index: 857 entries, 0 to 891
Series name: year
Non-Null Count  Dtype
--------------  -----
857 non-null    int32
dtypes: int32(1)
memory usage: 10.0 KB

In [220]:
dataset["kms_driven"].fillna(dataset["kms_driven"].mode()[0], inplace=True)

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/852788240.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["kms_driven"].fillna(dataset["kms_driven"].mode()[0], inplace=True)
/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/852788240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"].fillna(dataset["kms_driven"].mode()[0], inplace=True)

In [221]:
dataset["kms_driven"] = dataset["kms_driven"].str.replace("kms","")
dataset["kms_driven"] = dataset["kms_driven"].str.replace(",","")

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/1324072024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"] = dataset["kms_driven"].str.replace("kms","")
/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/1324072024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"] = dataset["kms_driven"].str.replace(",","")

In [222]:
dataset = dataset[dataset["kms_driven"] != "Petrol"]

In [223]:
dataset["kms_driven"] = dataset["kms_driven"].astype("int32")

In [224]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 855 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        855 non-null    object
 1   company     855 non-null    object
 2   year        855 non-null    int32
 3   Price       855 non-null    int32
 4   kms_driven  855 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 36.7+ KB

In [225]:
dataset["fuel_type"].fillna(dataset["fuel_type"].mode()[0],inplace=True)

/var/folders/l6/5yvql58n10z19tszbyzy5dlm0000gn/T/ipykernel_738/61445576.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["fuel_type"].fillna(dataset["fuel_type"].mode()[0],inplace=True)

In [226]:
dataset["fuel_type"].isnull().sum()

0

In [227]:
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
887,Ta,Tara,2015,310000,45000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [228]:
dataset["name"] = dataset["name"].apply(lambda x: " ".join(x.split()[:3]))

In [229]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [230]:
# X = dataset.loc[:, dataset.columns != "Price"]
# Y = dataset["Price"]
# score = []
# for i in range(1000):
#     x_train , x_test , y_train , y_test = train_test_split(X,Y, test_size=0.2, random_state=1)
#     step1 = ColumnTransformer(transformers=[
#     ("col_tnf", OneHotEncoder(drop="first", handle_unknown="ignore"), ["name","company","fuel_type"])
# ])

# step2 = LinearRegression()


# pipe = Pipeline(steps=[
#     ("step1", step1),
#     ("step2",step2)
# ])

# pipe.fit(x_train, y_train)
# y_pred = pipe.predict(x_test)
# # print("r2_score ", r2_score(y_test, y_pred)*100)
# # print("MAE ", mean_absolute_error(y_test, y_pred))
# score.append(r2_score(y_test, y_pred)*100)

In [231]:
X = dataset.loc[:, dataset.columns != "Price"]
Y = dataset["Price"]

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=544)

step1 = ColumnTransformer(transformers=[
        ("col_tnf", OneHotEncoder(drop="first", handle_unknown="ignore"), ["name", "company", "fuel_type"])
    ])
    
  
step2 = LinearRegression()
    
   
pipe = Pipeline(steps=[
        ("step1", step1),
        ("step2", step2)
    ])
    

pipe.fit(x_train, y_train)
    
 
y_pred = pipe.predict(x_test)

/opt/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_encoders.py:242: UserWarning: Found unknown categories in columns [0, 1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [232]:
print(r2_score(y_test, y_pred)*100)

84.02738149659162

In [233]:
import pandas as pd

# Create new data for prediction
pp = pd.DataFrame([['Tata Zest XM', 'Tata', 2018, 27000, "Diesel"]],
                  columns=["name", "company", "year", "kms_driven", "fuel_type"])

# Ensure correct dtypes
pp["year"] = pp["year"].astype(int)  
pp["kms_driven"] = pp["kms_driven"].astype(int)  

# Make prediction
predicted_price = pipe.predict(pp)
print("Predicted Price:", predicted_price[0])

Predicted Price: 259999.31579016816

In [237]:
import pickle

pickle.dump( pipe,open("model.pkl","wb"))
pickle.dump(x_train,open("x_train.pkl","wb"))